$primary-color: #F03000;
$offer-color: #FFFFFF;
$background-item: #F0F0F0;
$background-footer: #444444;
$color-main-text: #000000;
$color-date: #888888;


$font-main-text: 'Montserrat', sans-serif;
$font-description: 'Open Sans', sans-serif;

$padding-block: 20px;
$padding-text: 10px;

body {
    padding: $padding-block;
    font-family: $font-main-text;
}

a {
    text-decoration: none;
}

.header {
    padding: $padding-block;
    display: flex;
    flex-direction: column;

    &__logo {
        display: flex;
        justify-content: center;
        padding: $padding-block;
    }
    
    &__navbar {
        padding: 40px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;
        padding: $padding-block;
    }

    &__link:hover {
        background-color: $primary-color;
        color: white;
    }


    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

.offer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    &__price {
        background-color: $primary-color;
        padding: $padding-text;
        font-weight: bold;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__item {
        padding: $padding-block;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        align-items: start;
    }

    &__item--main {
        height: 250px;

        .offer__title {
            font-size: 28px;
            font-weight: bold;
        }

        .offer__description {
            font-size: 16px;
        }
    }

    &__item--1 {
        grid-column: 1 / -1;
        background-image: url(/images/palmy@2x.png);
    }

    &__item--2 {
        grid-column: 1 / -1;
        background-image: url(/images/jezero2@2x.png)
    }

    &__item--3 {
        grid-column: 1 / -1;
        background-image: url(/images/nakole@2x.png)
    }

    .subtitle {
        grid-column: 1 / -1;
        padding-top: $padding-block * 2;
    }

    &__item--4 {
        grid-column: 1 / -1;
        background-image: url(/images/lodicka@2x.png)
    }

    &__item--5 {
        grid-column: 1 / -1;
        background-image: url(/images/podkova@2x.png)
    }

    &__item--6 {
        grid-column: 1 / -1;
        background-image: url(/images/zatoka@2x.png)
    }


}