$primary-color: #F03000;
$offer-color: #FFFFFF;
$background-item: #F0F0F0;
$background-footer: #444444;
$color-main-text: #000000;
$color-date: #888888;


$font-main-text: 'Montserrat', sans-serif;
$font-description: 'Open Sans', sans-serif;

$height-grid-row: 180px;

$padding-block: 20px;
$padding-text: 10px;

body {
    padding: $padding-block;
    margin: 0;
    font-family: $font-main-text;
}

a {
    text-decoration: none;
}

.subtitle {
    padding: $padding-block 0;
    margin: 0;
}

.header {
    // padding: $padding-block;
    display: flex;
    flex-direction: column;

    &__logo {
        display: flex;
        justify-content: center;
        padding: $padding-block;
    }
    
    &__navbar {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;
        padding: $padding-block;
    }

    &__link:hover {
        background-color: $primary-color;
        color: white;
    }


    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

.offer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-bottom: $padding-block;

    @media screen and (min-width) {
        grid-auto-rows: $height-grid-row;
    }

    &__price {
        background-color: $primary-color;
        padding: $padding-text;
        font-weight: bold;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__item {
        padding: $padding-block;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        align-items: start;

        @media screen and (min-width: 768) {
            height: $height-grid-row;
        }
    }

    &__item--main {
        height: 250px;

        .offer__title {
            font-size: 28px;
            font-weight: bold;
        }

        .offer__description {
            font-size: 16px;
        }

        @media screen and (min-width: 768px) {
            height: $height-grid-row * 2;
        }
    }

    &__item--1 {
        grid-column: 1 / -1;
        background-image: url(/images/palmy@2x.png);

        @media screen and (min-width: 960px) {
            grid-column: 1 / -3;
            grid-row: 1 / span 2;
        }
    }

    &__item--2 {
        grid-column: 1 / -1;
        background-image: url(/images/jezero2@2x.png');

        @media screen and (min-width: 768px) {
            grid-column: 1 / 4;
        }

        @media screen and (min-width: 960px) {
            grid-column: -3 / -1;
        }
    }

    &__item--3 {
        grid-column: 1 / -1;
        background-image: url(/images/nakole@2x.png);

        @media screen and (min-width: 768px) {
            grid-column: 4 / -1;
        }

        @media screen and (min-width: 960px) {
            grid-column: -3 / -1;
        }
    }

    &__item--4 {
        grid-column: 1 / -1;
        background-image: url(/images/lodicka@2x.png);

        @media screen and (min-width: 960px) {
            grid-column: 3 / -1;
            grid-row: 1 / span 2;
        }
    }

    &__item--5 {
        grid-column: 1 / -1;
        background-image: url(/images/podkova@2x.png);

        @media screen and (min-width: 768px) {
            grid-column: 1 / 4;
        }

        @media screen and (min-width: 960px) {
            grid-column: 1 / 3;
        }
    }

    &__item--6 {
        grid-column: 1 / -1;
        background-image: url(/images/zatoka@2x.png);

        @media screen and (min-width: 768px) {
            grid-column: 4 / -1;
        }

        @media screen and (min-width: 960px) {
            grid-column: 1 / 3;
        }
    }

}

.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: $padding-block 0;

    @media screen and (min-width: 768px) {
        gap: $padding-block;
    }

    &__item {
        grid-column: 1 / -1;
        background-color: $background-item;
        padding: $padding-block;
        display: flex;

        @media screen and (min-width: 768px) {
            grid-column: span 2;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: 960px) {
            grid-column: span 1;
        }
    }

    &__icon {
        width: 30px;
    }

    &__text {
        padding: 0 20px;

        @media screen and (min-width: 768px) {
            text-align: center;
        }

    }

    &__title {
        color: $primary-color;
        font-size: 18px;
        font-weight: bold;
    }

    &__description {
        font-size: 16px;
    }

}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: $padding-block;

    &__item {
        grid-column: span 3;
        background-color: $background-item;
        padding: $padding-block;
        font-weight: bold;

        @media screen and (min-width: 960px) {
            grid-column: span 1;
        }
    }

    &__date {
        color: $color-date;
        font-size: 16px;
    }

    &__title {
        color: $primary-color;
    }
}

.footer {
    background-color: $background-footer;
    padding: $padding-block;
    color: white;
    text-align: center;
}
